@import "../mixins/responsive";

.flex {
  display: flex;
  &_center_vertical {
    @extend .flex;
    align-items: center;
  }

  &_row_reverse {
    display: flex;
    flex-direction: row-reverse;

    &_m {
      @include screen-medium {
        flex-direction: row-reverse;
      }
    }
  }

  &_space_between {
    @extend .flex;
    justify-content: space-between;
  }
}
