@import "../asset/styles/mixins/index";
@import "../asset/styles/components/index";

$master-detail-card-color: #fff;
$master-detail-border-color: #e5e5e5;
$master-detail-item-color-active: #f6f9fd;
$master-detail-item-color-deactive: #f8f8f8;
$master-detail-item-ribbon-color: #1b67db;
$master-detail-item-ribbon-size: 3px;
$master-detail-text-main-color: #666;
$master-detail-placeholder-color: #999;
$header-min-height: 50px;
$transition: .3s ease-in-out;

.master_detail {
  &_wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
  }

  &_master {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    transition: transform $transition .1s;
    z-index: 1;

    @include just-mobile-tablet {
      width: 100% !important;
      min-width: initial !important;
    }

    &__active {
      transform: translateX(0) !important;
    }

    &__width_anim {
      transition: transform $transition .1s, width $transition;
    }
  }

  &_detail {
    flex: 1;
    box-sizing: border-box;
    opacity: 0;
    transition: $transition;
    transition-property: transform, opacity;
    z-index: 0;
    position: relative;

    @include just-mobile-tablet {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      z-index: 1;
      margin: 0;
    }

    &_close {
      display: inline-block;
      height: 20px;
      width: 20px;
    }

    &__rtl {
      transform: translateX(-200px);
      @include just-mobile-tablet {
        transform: translateX(-100vw);
      }
    }

    &__ltr {
      transform: translateX(200px);
      @include just-mobile-tablet {
        transform: translateX(100vw);
      }
    }

    &__open {
      opacity: 1 !important;
      transform: translateX(0) !important;
    }

    &_header {
      &__ltr {
        @include just-mobile-tablet {
          flex-direction: row-reverse;
        }
      }

      &__rtl {
        @include just-mobile-tablet {
          flex-direction: row;
        }
      }
    }
  }

  &_card {
    background-color: $master-detail-card-color;
    box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
    display: flex;
    flex-direction: column;
    height: 100%;

    @include screen-medium {
      border-radius: 4px 4px 0 0;
    }

    @include just-mobile-tablet {
      border: none !important;
    }

    &_header {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border-bottom: 1px solid $master-detail-border-color;
      min-height: $header-min-height;
      @include screen-medium {
        padding: 10px 20px;
      }
    }

    &_body {
      overflow-y: auto;
      height: 100%;
      padding: 10px 20px;
    }
  }

  &_list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &_item {
    box-sizing: border-box;
    padding: 15px;
    margin-top: 0;
    transition: background .2s ease;
    min-height: 4.6rem;
    border-bottom: 1px solid $master-detail-border-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 1;
    -webkit-tap-highlight-color: transparent;

    @include screen-medium {
      padding: 15px 20px;
      justify-content: space-between;
    }

    &:hover {
      background: $master-detail-item-color-active;

      .master_detail_item_more {
        visibility: visible;
      }
    }

    &__selected {
      position: relative;
      background: $master-detail-item-color-active !important;

      &::after {
        content: '';
        position: absolute;
        width: $master-detail-item-ribbon-size;
        background: $master-detail-item-ribbon-color;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }

    &__deactive {
      background: $master-detail-item-color-deactive;
    }

    &_content {
      display: flex;
      flex: 1;
      align-items: center;
      color: #444;
    }

    &_description {
      flex: 1;
      margin-right: 10px;
    }

    &_title {
      font-size: 1.4rem;
      word-break: break-all;
    }

    &_subtitle {
      font-size: 1.2rem;
      color: $master-detail-placeholder-color;
      word-break: break-all;
    }

    &_more {
      visibility: hidden;
      cursor: pointer;
    }
  }

  &_empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &_icon {
      max-height: 80px;
      width: auto;
    }

    &_title {
      line-height: 1.5;
      color: $master-detail-text-main-color;
    }

    &_subtitle {
      font-size: 1.4rem;
      margin: 0;
    }
  }

  &__select_no {
    user-select: none !important;
  }
}

.align_bar {
  transition: opacity $transition;
  opacity: 0;

  &__active {
    opacity: 1 !important;
  }

  &_wrapper {
    opacity: .5;
    transition: opacity .2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}

.align_icon {
  display: inline-block;
  height: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 15px;

  & > img {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
